body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:rgb(226, 213, 197)
}

.dados-jogador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:rgb(226, 213, 197)
}

.center {
   margin-right: 50px;
}

.dados{
    width: 80px;
}

.margin-button {
    margin-top: 15px;
}

.button-background {
    background-color: antiquewhite;
    padding-right: 10px;
}

.list {
    padding-left: 0;
}

.botao-entrar {
    margin-top: 0px;
}

.list-players{
    margin-top: 3px;
    border: 2px solid rgb(114, 114, 114);
    border-radius: 10px;
}

.tittle{
    font-size: 40px;
}

.center {
    justify-content: center;
}